NEXT_PUBLIC_SUPABASE_URL=https://cjoqupshuruftzgzyksm.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_EizN2kUIxgHb9gxVV9mh1Q_PQqRQi9X
SUPABASE_SERVICE_ROLE_KEY=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_REALTIMEKIT_APP_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_RTK_HOST_PRESET=host
CLOUDFLARE_RTK_MODERATOR_PRESET=moderator
CLOUDFLARE_RTK_SPEAKER_PRESET=speaker
CLOUDFLARE_RTK_AUDIENCE_PRESET=audience
NEXT_PUBLIC_APP_URL=http://localhost:3000
MEDIA_ADAPTER=mock
